<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Document</title>
</head>

<!-- changes made in vs code -->
<body ng-app="app">
    <div>
        <div ng-controller="MyController">
           <button ng-click="loadFiles()">Load Files</button>
           <div ng-repeat="content in fileContents">
            <pre>{{content}}</pre>
           </div>
        </div>
    </div>
</body>
</html>